<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Secrect-Secure Chat Line</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>



	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/bird-cage.jpg" />
				<h2 id="chat">Secrect and Secure Chat Line</h2>
				<h6>Made with love and passion by ThangTheMan</h6>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>


		</div>

	</section>
<footer> Create with love by ThangTheMan
Feel free to RIP or contact me :D </footer>
</body>
</html>
